<section id="collection-results">
  <div class="container">
    <h2>Collection Search (<%= link_to 'Map', map_collections_path %>)</h2>
    <div id="sidebar" class="<%= sidebar_classes %>">
      <%= render 'search_sidebar' %>
    </div>
    <div id="content" class="<%= main_content_classes %>">
      <%= render 'search_results' %>
    </div>
  </div>
</section>

