<div data-ajax-modal="container">
  <div class="modal-header">
    <button type="button" class="ajax-modal-close close" data-dismiss="modal" aria-hidden="true">×</button>
    <h1 class="modal-title"><%= t('help.searching') %></h1>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3"><strong>Refine Category</strong></div>
          <div class="col-md-9"><strong>Description</strong></div>
        </div>
        <div class="row">
          <div class="col-md-3"><span class="label label-default"><%= t('search.facets.creator') %></span></div>
          <div class="col-md-9"><%= t('help.facets.creator') %></div>
        </div>
        <div class="row">
          <div class="col-md-3"><span class="label label-default"><%= t('search.facets.subject') %></span></div>
          <div class="col-md-9"><%= t('help.facets.subject') %></div>
        </div>
        <div class="row">
          <div class="col-md-3"><span class="label label-default"><%= t('search.facets.subject_personal') %></span></div>
          <div class="col-md-9"><%= t('help.facets.people') %></div>
        </div>
        <div class="row">
          <div class="col-md-3"><span class="label label-default"><%= t('search.facets.location') %></span></div>
          <div class="col-md-9"><%= t('help.facets.location') %></div>
        </div>
        <div class="row">
          <div class="col-md-3"><span class="label label-default"><%= t('search.facets.county') %></span></div>
          <div class="col-md-9"><%= t('help.facets.county') %></div>
        </div>
        <div class="row">
          <div class="col-md-3"><span class="label label-default"><%= t('search.facets.year') %></span></div>
          <div class="col-md-9"><%= t('help.facets.year') %></div>
        </div>
        <div class="row">
          <div class="col-md-3"><span class="label label-default"><%= t('search.facets.medium') %></span></div>
          <div class="col-md-9"><%= t('help.facets.medium') %></div>
        </div>
        <div class="row">
          <div class="col-md-3"><span class="label label-default"><%= t('search.facets.type') %></span></div>
          <div class="col-md-9"><%= t('help.facets.type') %></div>
        </div>
        <div class="row">
          <div class="col-md-3"><span class="label label-default"><%= t('search.facets.rights') %></span></div>
          <div class="col-md-9"><%= t('help.facets.rights') %></div>
        </div>
        <div class="row">
          <div class="col-md-3"><span class="label label-default"><%= t('search.facets.collection_name') %></span></div>
          <div class="col-md-9"><%= t('help.facets.collection') %></div>
        </div>
        <div class="row">
          <div class="col-md-3"><span class="label label-default"><%= t('search.facets.provenance') %></span></div>
          <div class="col-md-9"><%= t('help.facets.provenance') %></div>
        </div>
      </div>
    </div>
  </div>
</div>