<div class="col-md-6">
  <img src="<%= asset_path image %>" alt="<%= "DLG and Me Story Image for %{title}" %>" class="img-responsive">
  <h3><a href="https://blog.dlg.galileo.usg.edu/?p=<%= blog_id %>"><%= title %></a></h3>
  <%= text %>
</div>