<div class="row">
  <div class="col-xs-3">
    <img src="<%= cache_server_image_link feature['image']['url'] %>" alt="<%= "Image for feature: #{feature['title']}" %>" class="img-responsive">
  </div>
  <div class="col-xs-9 no-gutter-left">
    <h4><%= link_to feature['title'], feature['title_link'] %></h4>
    <span><%= link_to feature['institution'], feature['institution_link'] %></span>
    <p><%= feature['short_description'] %></p>
  </div>
</div>