<% content_for :header do %>
<div id="home-carousel" class="carousel slide" data-ride="carousel">
  <% if @carousel_features %>
  <ol class="carousel-indicators">
    <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
    <% @carousel_features.each_with_index do |_, i| %>
      <li data-target="#home-carousel" data-slide-to="<%= i + 1 %>"></li>
    <% end %>
  </ol>
<% end %>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="fill" style="background-image:url(<%= asset_path 'default_feature.jpg' %>);"></div>
    </div>
    <% if @carousel_features %>
      <% @carousel_features.each do |c| %>
      <div class="item">
        <div class="fill" style="background-image:url(<%= cache_server_image_link c['image']['url'] %>);">
          <div class="carousel-caption">
            <h2><%= link_to c['title'], c['title_link'] %></h2>
            <%= link_to c['institution'], c['institution_link'], target: '_blank' %>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>
<main role="main">
  <section id="popular" aria-label="Popular Site Pages">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="explore-icon text-center">
            <a href="<%= search_collections_path %>">
              <img src="<%= asset_path 'explore-collections.png' %>" alt="Image representing the Collection search page" class="explore-icon-image img-circle">
              <h2>Collections</h2>
            </a>
            <p>Explore our collections.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="explore-icon text-center">
            <a href="<%= counties_path %>">
              <img src="<%= asset_path 'explore-counties.png' %>" alt="Image representing the Counties browse page" class="explore-icon-image img-circle">
              <h2>Counties</h2>
            </a>
            <p>Find content from Georgia's 159 counties.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="explore-icon text-center">
            <a href="<%= freely_available_path %>">
              <img src="<%= asset_path 'explore-free.png' %>" alt="Image representing the freely available resources link" class="explore-icon-image img-circle">
              <h2>Free to Use</h2>
            </a>
            <p>See items licensed for reuse.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="explore-icon text-center">
            <a href="<%= institutions_path %>">
              <img src="<%= asset_path 'explore-institutions.png' %>" alt="Image representing the Institution browse page" class="explore-icon-image img-circle">
              <h2>Institutions</h2>
            </a>
            <p>Browse collections from DLG partner institutions.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section aria-label="Tabbed area of featured content links">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="nav-tabs-responsive">
            <ul class="nav nav-tabs">
              <li role="presentation" class="active">
                <a data-toggle="tab" href="#new">New</a></li>
              <li role="presentation">
                <a data-toggle="tab" href="#civil-rights">Civil Rights</a></li>
              <li role="presentation">
                <a data-toggle="tab" href="#newspapers">Newspapers</a></li>
              <li role="presentation">
                <a data-toggle="tab" href="#civil-war">Civil War</a></li>
            </ul>
          </div>
          <div class="tab-content">
            <div id="new" class="tab-pane fade in <%= 'active' if @tabs_features %>">
              <div class="row">
                <% if @tabs_features %>
                  <div class="col-md-6">
                    <%= render 'primary_tab_feature', feature: @tabs_features.primary %>
                  </div>
                  <div class="col-md-6 col-lg-6 right-col">
                    <% @tabs_features.secondary.each do |tf| %>
                      <%= render 'regular_tab_feature', feature: tf %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
            <div id="civil-rights" class="tab-pane fade <%= 'active' unless @tabs_features %>">
              <%= render 'crdl' %>
            </div>
            <div id="newspapers" class="tab-pane fade">
              <%= render 'ghnp' %>
            </div>
            <div id="civil-war" class="tab-pane fade">
              <%= render 'amso' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section aria-labelledby="partner-sponsor-heading">
    <div class="partners">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 id="partner-sponsor-heading">Our Partners & Sponsors</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
            <a href="https://dp.la/">
              <img class="img-responsive" alt="Sponsor logo for DPLA" src="<%= asset_path 'partners/dpla-01.png' %>">
            </a>
          </div>
          <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
            <a href="http://gaarts.org/">
              <img class="img-responsive" alt="Sponsor logo for GCA" src="<%= asset_path 'partners/gca-01.png' %>">
            </a>
          </div>
          <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
            <a href="https://www.georgiahumanities.org/">
              <img class="img-responsive" alt="Sponsor logo for Georgia Humanities" src="<%= asset_path 'partners/humanities-01.png' %>">
            </a>
          </div>
          <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
            <a href="http://www.georgialibraries.org/">
              <img class="img-responsive" alt="Sponsor logo for GPLS" src="<%= asset_path 'partners/gpls-01.png' %>">
            </a>
          </div>
          <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2 col-xs-offset-0 col-sm-offset-3 col-md-offset-3 col-lg-offset-0">
             <a href="https://www.neh.gov/">
               <img class="img-responsive" alt="Sponsor logo for NEH" src="<%= asset_path 'partners/neh-01.png' %>">
             </a>
          </div>
          <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
            <a href="https://www.imls.gov/">
              <img class="img-responsive" alt="Sponsor logo for IMLS" src="<%= asset_path 'partners/imls-01.png' %>">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section aria-labelledby="dlg-and-me-heading">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 id="dlg-and-me-heading">DLG and Me</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 blog-post">
          <div class="row">
            <div class="col-md-6">
              <img src="<%= asset_path 'subgrant.jpg' %>" alt="DLG and Me Story Image for DLG Subgranting Program article" class="img-responsive">
              <h3><a href="https://blog.dlg.galileo.usg.edu/?p=6954">New Subgrant Deadline of June 15 Announced</a></h3>
              DLG offers up to $5000 of digitization services to new and current
              partners.
            </div>
            <div class="col-md-6">
              <img src="<%= asset_path 'wsbtv.png' %>" alt="DLG and Me Story Image for Atlanta Monster Podcast" class="img-responsive">
              <h3><a href="https://blog.dlg.galileo.usg.edu/?p=6943">Atlanta Monster Podcast Features WSB-TV Newsfilm
                Collection</a></h3>
              True crime podcast about the Atlanta Child Murders sources the
              University of Georgia's Brown Media Archives' WSB-TV Newsfilm
              collection.
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <img src="<%= asset_path 'ahc.jpg' %>" alt="DLG and Me Story Image for Atlanta History Center article" class="img-responsive">
              <h3><a href="https://blog.dlg.galileo.usg.edu/?p=6945">A Fruitful Partnership for More Than A Decade</a></h3>
              Paul Crater, vice President of Collections and Research Services
              at the Atlanta History Center, describes how the immeasurable ways
              the reach of their collections have been expanded through
              partnering with the DLG.
            </div>
            <div class="col-md-6">
              <img src="<%= asset_path 'flagpole.png' %>" alt="DLG and Me Story Image for the Flagpole article" class="img-responsive">
              <h3><a href="https://blog.dlg.galileo.usg.edu/?p=6932">Unique Partnership Captures Athens' Music and Art
                Scene from the 1980s Onwards</a></h3>
              Editor Pete McCommons discusses the impact of the digitization of
              Athens' weekly music newspaper.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <a class="twitter-timeline"
             href="https://twitter.com/DigLibGA?ref_src=twsrc%5Etfw"
             data-tweet-limit="3"
             data-link-color="#93450E">
            Tweets by DigLibGA
          </a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </section>
</main>


