<% content_for :header do %>
<div id="home-carousel" class="carousel slide" data-ride="carousel">
  <% if @carousel_features&.any? %>
  <ol class="carousel-indicators">
    <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
    <% @carousel_features.each_with_index do |_, i| %>
      <li data-target="#home-carousel" data-slide-to="<%= i + 1 %>"></li>
    <% end %>
  </ol>
<% end %>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="fill" style="background-image:url(<%= asset_path 'default_feature.jpg' %>);"></div>
    </div>
    <% if @carousel_features&.any? %>
      <% @carousel_features.each do |c| %>
      <div class="item">
        <div class="fill" style="background-image:url(<%= cache_server_image_link c['image']['url'] %>);">
          <div class="carousel-caption">
            <h2><%= link_to c['title'], c['title_link'] %></h2>
            <%= link_to c['institution'], c['institution_link'], target: '_blank' %>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>
<main role="main">
  <%# render 'downtime_notice' %>
  <section id="popular" aria-label="Popular Site Pages">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="explore-icon text-center">
            <a href="<%= search_collections_path %>">
              <img src="<%= asset_path 'explore-collections.png' %>" alt="Image representing the Collection search page" class="explore-icon-image img-circle">
              <h2>Collections</h2>
            </a>
            <p>Explore our collections.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="explore-icon text-center">
            <a href="<%= counties_path %>">
              <img src="<%= asset_path 'explore-counties.png' %>" alt="Image representing the Counties browse page" class="explore-icon-image img-circle">
              <h2>Counties</h2>
            </a>
            <p>Find content from Georgia's 159 counties.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="explore-icon text-center">
            <a href="<%= freely_available_path %>">
              <img src="<%= asset_path 'explore-free.png' %>" alt="Image representing the freely available resources link" class="explore-icon-image img-circle">
              <h2>Free to Use</h2>
            </a>
            <p>See items licensed for reuse.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="explore-icon text-center">
            <a href="<%= institutions_path %>">
              <img src="<%= asset_path 'explore-institutions.png' %>" alt="Image representing the Institution browse page" class="explore-icon-image img-circle">
              <h2>Institutions</h2>
            </a>
            <p>Browse collections from DLG partner institutions.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% if @tabs_features.present? %>
  <section aria-label="Tabbed area of featured content links">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="nav-tabs-responsive">
            <ul class="nav nav-tabs">
              <li role="presentation" class="active">
                <a data-toggle="tab" href="#new">New</a></li>
              <li role="presentation">
                <a data-toggle="tab" href="#civil-rights">Civil Rights</a></li>
              <li role="presentation">
                <a data-toggle="tab" href="#newspapers">Newspapers</a></li>
              <li role="presentation">
                <a data-toggle="tab" href="#civil-war">Civil War</a></li>
            </ul>
          </div>
          <div class="tab-content">
            <div id="new" class="tab-pane fade in <%= 'active' if @tabs_features %>">
              <div class="row">
                <div class="col-md-6">
                  <%= render 'primary_tab_feature', feature: @tabs_features.primary %>
                </div>
                <div class="col-md-6 col-lg-6 right-col">
                  <% @tabs_features.secondary.each do |tf| %>
                    <%= render 'regular_tab_feature', feature: tf %>
                  <% end %>
                </div>
              </div>
            </div>
            <div id="civil-rights" class="tab-pane fade <%= 'active' unless @tabs_features %>">
              <%= render 'crdl' %>
            </div>
            <div id="newspapers" class="tab-pane fade">
              <%= render 'ghnp' %>
            </div>
            <div id="civil-war" class="tab-pane fade">
              <%= render 'amso' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% end %>
  <section aria-labelledby="partner-sponsor-heading">
    <div class="partners">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 id="partner-sponsor-heading">Our Partners & Sponsors</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
            <a href="https://dp.la/">
              <img class="img-responsive" alt="Sponsor logo for DPLA" src="<%= asset_path 'partners/dpla-01.png' %>">
            </a>
          </div>
          <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
            <a href="http://gaarts.org/">
              <img class="img-responsive" alt="Sponsor logo for GCA" src="<%= asset_path 'partners/gca-01.png' %>">
            </a>
          </div>
          <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
            <a href="https://www.georgiahumanities.org/">
              <img class="img-responsive" alt="Sponsor logo for Georgia Humanities" src="<%= asset_path 'partners/humanities-01.png' %>">
            </a>
          </div>
          <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
            <a href="http://www.georgialibraries.org/">
              <img class="img-responsive" alt="Sponsor logo for GPLS" src="<%= asset_path 'partners/gpls-01.png' %>">
            </a>
          </div>
          <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2 col-xs-offset-0 col-sm-offset-3 col-md-offset-3 col-lg-offset-0">
             <a href="https://www.neh.gov/">
               <img class="img-responsive" alt="Sponsor logo for NEH" src="<%= asset_path 'partners/neh-01.png' %>">
             </a>
          </div>
          <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
            <a href="https://www.imls.gov/">
              <img class="img-responsive" alt="Sponsor logo for IMLS" src="<%= asset_path 'partners/imls-01.png' %>">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render 'dlg_and_me' %>
</main>


