<% total_item_count = inst.collections.collect { |v| v['items_count'] }.inject(0, :+) %>
<div class="panel panel-default">
  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= num %>" aria-expanded="true" aria-controls="collapse<%= num %>">
    <div class="panel-heading" role="tab" id="heading<%= num %>">
      <h3 class="panel-title"><%= inst.authorized_name %></h3> <span class="badge"><%= total_item_count %> Items</span>
      <p class="text-left"><%= inst.short_description %></p>
    </div>
  </a>
  <div id="collapse<%= num %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= num %>">
    <div class="row">
      <div class="col-sm-6 text-center">
        <a class="btn btn-primary text-center" href="">Visit Institution Homepage</a>
      </div>
      <div class="col-sm-6 text-center">
        <a class="btn btn-primary text-center" href="">Visit Other Link</a>
      </div>
    </div>
    <ul class="list-group">
      <% inst.collections.each do |c| %>
        <li class="list-group-item">
          <span class="badge"><%= c['items_count'] %></span> <a href=""><%= c['display_title'] %></a>
        </li>
      <% end %>
    </ul>
  </div>
</div>