<% @page_title = "#{t('advanced.title')} - #{application_name}" %>
<section id="advanced-search">
  <div class="container">
    <div class="advanced-search-form col-sm-12">
      <h2><%= t('advanced.title') %></h2>
      <div class="row">
        <div class="col-md-12">
          <div class="pull-left">
            <%= help_link 'search' %>
          </div>
          <div class="advanced-search-buttons pull-right">
            <%= link_to t('advanced.search_history'), blacklight.search_history_path, class:'btn btn-default' %>
            <%= link_to t('blacklight_advanced_search.form.start_over'), search_path, class:'btn btn-default advanced-search-start-over' %>
            <%= button_tag t('blacklight_advanced_search.form.search_btn'), class: 'btn btn-primary auxiliary-advanced-search-submit hide' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= render 'advanced_search_form' %>
        </div>
      </div>
    </div>
  </div>
</section>