<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h1><a href="<%= root_path %>"><img src="<%= asset_path 'logo-dlg.svg' %>" alt="DLG Logo"></a></h1>
      </div>
      <div class="col-xs-12 col-sm-6 header-right">
        <div class="row">
          <div class="col-xs-6 col-sm-12">
            <a href="<%= t('external_links.galileo') %>" target="_blank">
              <img class="logo-galileo" src="<%= asset_path 'logo-galileo.svg' %>" alt="GALILEO Logo">
            </a>
          </div>
          <div class="col-xs-6 col-sm-12">
            <ul class="social-icons pull-right">
              <li><%= link_to '<i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>'.html_safe, t('external_links.dlg.facebook'), target: '_blank' %></li>
              <li><%= link_to '<i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>'.html_safe, t('external_links.dlg.twitter'), target: '_blank' %></li>
              <li><%= link_to '<i class="fa fa-rss-square fa-2x" aria-hidden="true"></i>'.html_safe, t('external_links.dlg.blog'), target: '_blank' %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-default">
  <div class="container <%= container_classes %>">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to t('menu.home'), root_path %></li>
        <li><%= link_to t('menu.search'), blacklight_advanced_search_engine.advanced_search_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t('menu.explore') %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to t('menu.explore_sub.items'), search_records_path %></li>
            <li><%= link_to t('menu.explore_sub.collections'), search_collections_path %></li>
            <li><%= link_to t('menu.explore_sub.counties'), counties_path %></li>
            <li><%= link_to t('menu.explore_sub.institutions'), institutions_path %></li>
            <li><%= link_to t('menu.explore_sub.map'), map_records_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t('menu.help') %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%# link_to t(''), help_link_path %></li>
            <li><%# link_to t(''), help_link_path %></li>
            <li><%# link_to t(''), help_link_path %></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t('menu.teach') %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Educator Resources', 'https://sites.google.com/view/dlg-educator-resources', target: '_blank' %></li>
            <!--<li><a href="" target="_blank">National History Day GALILEO page</a></li>-->
            <li><a href="<%= t('external_links.dlg.nge') %>" target="_blank"><%= t('external_links.labels.nge') %></a></li>
            <li><%= link_to 'Using DLG Materials', teach_using_materials_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t('menu.participate') %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Contribute Your Collections', participate_contribute_path %></li>
            <li><%= link_to 'Nominate Collections', participate_nominate_path %></li>
            <li><a href="https://sites.google.com/view/dlg-docs/dlg-documentation/dlg-subgranting-program" target="_blank">Subgranting Program</a></li>
            <li><%= link_to 'Services for Partners', participate_partner_services_path %></li>
            <li><a href="http://www.georgialibraries.org/homeplace/" target="_blank">Georgia HomePLACE</a></li>
            <li><a href="https://sites.google.com/view/dlg-docs/dlg-documentation/documentation-and-reports" target="_blank">Documentation and reports</a></li>
            <li><a href="https://sites.google.com/view/dlg-docs/dlg-documentation/presentations-and-workshops" target="_blank">Presentations and Workshops</a></li>
            <li><a href="" target="_blank">Promotional Materials</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t('menu.connect') %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://www.galileo.usg.edu/contact/" target="_blank">Contact Us</a></li>
            <li><%= link_to 'Blog', t('external_links.dlg.blog'), target: '_blank' %></li>
            <li><a href="https://bitly.com/DLGnews" target="_blank">Listserv</a></li>
            <li><a href="https://goo.gl/Ua4S4n" target="_blank">Newsletter</a></li>
            <li><%= link_to 'Facebook', t('external_links.dlg.facebook'), target: '_blank' %></li>
            <li><%= link_to 'Twitter', t('external_links.dlg.twitter'), target: '_blank' %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t('menu.about') %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Mission, Guiding Principles, and Goals', about_mission_path %></li>
            <li><%= link_to 'Collection Development Policy', about_policy_path %></li>
            <li><%= link_to 'DLG Partners and Sponsors', about_partners_sponsors_path %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="search">
  <%= render_search_bar %>
</div>
