<h1>Holding Institutions Browse</h1>
<div class="row">
  <div class="col-md-6">
    <h5>Sort Holding Institutions</h5>
    <%= render partial: 'shared/facet_sort_group', locals: { p: primary_sort_param} %>
  </div>
  <div class="col-md-6">
    <h5>Sort Collections</h5>
    <%= render partial: 'shared/facet_sort_group', locals: { p: secondary_sort_param} %>
  </div>
</div>


<%=  %>
<ul>
  <% @holding_institutions.each do |holding_inst| %>
    <li>
      <span class="badge"><%= holding_inst.count %></span> <%= link_to holding_inst.name, holding_inst.href %>
      <% if holding_inst.collections.any? %>
      <p>Collections</p>
          <ul>
            <% holding_inst.collections.each do |collection| %>
              <li>
                <span class="badge"><%= collection.count %></span> <%= link_to collection.name, collection.href %>
              </li>
            <% end %>
          </ul>
      <% end %>
    </li>
  <% end %>
</ul>