<div class="collection-details">
  <p><%= @collection.dcterms_description.first %></p>
  <p><%= collection_holding_institutions_text %></p>
  <div class="panel-group text-center" id="accordion">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="collapsed" aria-expanded="false">
                More About This Collection <span class="caret"></span></a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
            <div class="panel-body text-left">
              <%= collection_field_tag('Medium', multivalued_collection_field(:dcterms_medium)) %>
              <%= collection_field_tag('Creator', multivalued_collection_field(:dcterms_creator)) %>
              <%= collection_field_tag('Date of Original', multivalued_collection_field(:dc_date)) %>
              <%= collection_field_tag('Subject', collection_subject_links) %>
              <%= collection_field_tag('Location', collection_location_links) %>
              <%= collection_field_tag('Type', multivalued_collection_field(:dcterms_type)) %>
              <%= collection_field_tag('Description', multivalued_collection_field(:dcterms_description)) %>
              <%= collection_field_tag('Original Collection', multivalued_collection_field(:dcterms_is_part_of)) %>
              <%= collection_field_tag('Rights', rights_statement_icons ) %>
            </div>
          </div>
        </div>
      </div>
      <% if @collection&.collection_resources&.any? %>
        <%= render 'collection_resources_panel' %>
      <% end %>
    </div>
  </div>
  <% if @collection.sponsor_note %>
  <div class="row">
    <div class="col-md-12">
      <%= render 'collection_sponsor_panel' %>
    </div>
  </div>
  <% end %>
</div>
