<div class="panel panel-default">
  <div class="panel-heading collapse-toggle" data-toggle="collapse" data-target="#collection-info">
    <h3 class="panel-title">Collection Information</h3>
  </div>
  <div id="collection-info" class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <%= image_tag(cache_server_image_link(@collection.image), class: 'collection-info-image img-thumbnail img-responsive pull-right') if @collection.image %>
          <p><%= strip_tags(@collection.short_description) %></p>
          <p>Brought to you by: <%= @collection.institution.first %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= link_to t('collection.more_info'), solr_document_path(@collection.id), class: 'btn btn-default' %>
          <% if @collection.is_shown_at.any? %>
          <div class="pull-right">
            <%= collection_external_homepage_link %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>