<div class="panel panel-default">
  <div class="panel-heading collapse-toggle" data-toggle="collapse" data-target="#collection-info">
    <h3 class="panel-title">Collection Information</h3>
  </div>
  <div id="collection-info" class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <p><%= @collection.short_description %></p>
          <p>
          <% if @collection.is_shown_at.any? %>
            <%= collection_external_homepage_link %>
          <% end %>
            <%= link_to t('collection.more_info'), solr_document_path(@collection.id), class: 'btn btn-primary' %>
          </p>
        </div>
        <% if @collection.image %>
        <div class="col-md-4 col-sm-12">
          <%= image_tag cache_server_image_link(@collection.image), class: 'img-thumbnail img-responsive pull-right' %>
        </div>
        <% end %>
      </div>
        <%= render('collection_info_box_field', id: @collection.id, num: 3, label: t('search.labels.dcterms_provenance'), value: @collection.institution) if @collection.institution.any? %>
        <%= render('collection_info_box_field', id: @collection.id, num: 5, label: t('search.labels.dcterms_subject'), value: @collection.subject) if @collection.subject.any? %>
        <%= render('collection_info_box_field', id: @collection.id, num: 2, label: t('search.labels.dcterms_description'), value: @collection.description) if @collection.description.any? %>
        <%= render('collection_info_box_field', id: @collection.id, num: 4, label: t('search.labels.dc_date'), value: @collection.date) if @collection.date.any? %>
        <%= render('collection_info_box_field', id: @collection.id, num: 5, label: t('search.labels.dcterms_spatial') , value: @collection.location) if @collection.location.any? %>
        <%= render('collection_info_box_field', id: @collection.id, num: 3, label: t('search.labels.dc_format'), value: @collection.format) if @collection.format.any? %>
        <%= render('collection_info_box_field', id: @collection.id, num: 3, label: t('search.labels.dcterms_type'), value: @collection.type) if @collection.type.any? %>
        <% if @collection.rights.any? %>
        <div class="row">
          <div class="col-md-2">
            <strong><%= t('search.labels.dc_right') %></strong>
          </div>
          <div class="col-md-10">
            <%= collection_rights_icons @collection.rights  %>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</div>