<div class="panel panel-default">
  <div class="panel-heading collapse-toggle" data-toggle="collapse" data-target="#collection-info">
    <h3 class="panel-title"><%= t('collection.info_box_title') %></h3>
  </div>
  <div id="collection-info" class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="collection-image-area pull-right">
            <% if @collection.holding_institution_image %>
              <%= image_tag(cache_server_image_link(@collection.holding_institution_image), class: 'img-thumbnail img-responsive collection-image') %>
            <% end %>
          </div>
          <div class="collection-info-text">
            <p><%= strip_tags(@collection.short_description) %></p>
            <p><%= t('collection.from_institutions') %> <%= @collection.dcterms_provenance.to_sentence({words_connector: ', ', two_words_connector: ' and ', last_word_connector: ', and ' }) %>.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= link_to t('collection.more_info'), solr_document_path(@collection.record_id), class: 'btn btn-default' %>
          <% if @collection.edm_is_shown_at %>
          <div class="pull-right">
            <%= collection_external_homepage_link %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>