<section id="record-results">
  <div class="container">
    <% if collection_limited_results? %>
      <h3 class="text-center"><%= @collection.display_title %></h3>
      <%= render 'institution_icons', institutions: @collection.institutions %>
    <% end %>
    <div id="sidebar" class="<%= sidebar_classes %>">
      <%= render 'search_sidebar' %>
    </div>
    <div id="content" class="<%= main_content_classes %>">
      <% if collection_limited_results? %>
        <%# show collection info panel and results if collection params is set (MK 1/2019) %>
        <%= render 'collection_details' %>
        <%= render 'search_results' %>
      <% else %>
        <%= render 'search_results' %>
      <% end %>
    </div>
  </div>
</section>
<% set_page_title %>