<section id="record-results">
  <div class="container">
    <% if @collection && @document_list.any? %>
      <h2><%= @collection.display_title %> Item Search</h2>

    <% else %>
      <h2>Record Search</h2>
    <% end %>
    <div id="sidebar" class="<%= sidebar_classes %>">
      <%= render 'search_sidebar' %>
    </div>
    <div id="content" class="<%= main_content_classes %>">
      <%= render 'collection_info_box' if @collection && @document_list.any? %>
      <%= render 'search_results' %>
    </div>
  </div>
</section>
<%# TODO: move to helper when finalized %>
<% if @collection && !has_search_parameters? %>
  <% @page_title = "#{@collection.display_title} Collection Items - #{application_name}"  %>
<% elsif @collection && has_search_parameters? %>
  <% @page_title = "#{render_search_to_page_title(params)} - #{@collection.display_title} Collection Items - #{application_name}" %>
<% end %>