<section id="collection_resource" class="">
  <div class="container">
    <h2><%= @collection.display_title %></h2>
    <h3><%= @resource.title %></h3>
    <ol class="breadcrumbs">
      <li><%= link_to 'Collections', search_collections_path %></li>
      <li><%= link_to @collection.display_title, collection_home_path(@collection.record_id) %></li>
      <li><%= @resource.title %></li>
    </ol>
    <div class="resource-content">
      <%= @resource.content.html_safe %>
    </div>
  </div>
</section>
<% @page_title = "#{@resource.title} - #{@collection.display_title} - #{application_name}" %>