<section id="record-show">
  <div class="container">
    <div class="row">
      <div id="content" class="<%= show_content_classes %>">
        <ul class="nav nav-tabs nav-justified" role="tablist">
          <li role="presentation" class="active">
            <a class="nav-link active" href="#metadata" id="metadata-tab" data-toggle="tab" aria-controls="metadata" aria-selected="true">Metadata</a>
          </li>
          <li role="presentation">
            <a class="nav-link" href="#text" id="text-tab" data-toggle="tab" aria-controls="text" aria-selected="true">Text</a>
          </li>
          <li role="presentation">
            <a class="nav-link" href="#item" id="item-tab" data-toggle="tab" aria-controls="item" aria-selected="true">Item</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="metadata" class="tab-pane fade in active" role="tabpanel" aria-labelledby="metadata-tab">
            <%= render_document_main_content_partial %>
          </div>
          <div id="text" class="tab-pane fade" role="tabpanel" aria-labelledby="text-tab">
            <%# render fulltext %>
            <div class="panel panel-default">
              <div class="panel-body">
                <%= @document.fulltext %>
              </div>
            </div>
          </div>
          <div id="item" class="tab-pane fade" role="tabpanel" aria-labelledby="item-tab">
            <%= openseadragon_picture_tag iiif_manifest_urls, { data: { openseadragon: { sequenceMode: true }}}  %>
          </div>
        </div>
      </div>
      <div id="sidebar" class="<%= show_sidebar_classes %>">
        <%= render_document_sidebar_partial %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3><%= t('show.map') %></h3>
        <%= render 'show_maplet_default' %>
      </div>
    </div>
  </div>
</section>