<section id="record-show">
  <div class="container">
    <% if @document.local? && @document.files? %>
    <div class="row">
      <div class="col-md-12">
        <%= openseadragon_picture_tag iiif_manifest_url %>
      </div>
    </div>
    <% end %>
    <div class="row">
      <div id="content" class="<%= show_content_classes %>">
        <%= render_document_main_content_partial %>
      </div>
      <div id="sidebar" class="<%= show_sidebar_classes %>">
        <%= render_document_sidebar_partial %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3><%= t('show.map') %></h3>
        <%= render 'show_maplet_default' %>
      </div>
    </div>
  </div>
</section>