<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--[if IEMobile]>
  <meta http-equiv="cleartype" content="on">
  <![endif]-->
  <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path 'icons/apple-touch-icon.png' %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path 'icons/favicon-32x32.png' %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path 'icons/favicon-16x16.png' %>">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="<%= asset_path 'icons/safari-pinned-tab.svg' %>" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <title><%= render_page_title %></title>
  <%= opensearch_description_tag application_name, opensearch_records_url(format: 'xml') %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= content_for :head %>
</head>
<body class="<%= render_body_class %>" <% if Rails.application.secrets.ga_tracking_id %>data-analytics-id="<%= Rails.application.secrets.ga_tracking_id %>"<% end %>>
  <%= render partial: 'shared/header_navbar' %>
  <%= content_for :header %>
  <%= yield %>
  <%= render partial: 'shared/footer' %>
</body>
</html>
